# This is a basic workflow to help you get started with Actions

name: solved-counter

# Controls when the workflow will run
on:
  schedule:
    - cron: '0 15 * * 7'  # Every Sunday, 15:00 UTC (== Monday 00:00 KST)

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  check:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout repo content
        uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8.9'
          
      - name: echo data
        run: |
          ls -al
          pwd
          date
      
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r $(pwd)/requirements.txt

      - name: run py script
        run: python $(pwd)/counter.py $(pwd)/README.md $(date '+%Y_%m_%d')
      
      - name: commit files 
        run: |
          git config --local user.email "gold100@prompt412.xyz"
          git config --local user.name "Gold100 bot"
          git add -A
          git commit -m "Update README.md"
      
      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main 
